
<%include partials/header %>

<h1>Contact Us</h1>
<br>

<div class="container-contact style="max-width: 100%; text-align: justify">


<p>
  We'd love to hear from you. Whether you have questions, feedback,
  suggestions, or simply want to get in touch, feel free to reach out.
</p>

<p>
  At <strong>Daily Journal</strong>, we value our community and are always
  looking for ways to improve the platform and provide a better experience for
  our users.
</p>

<p>
  If you encounter any issues or have ideas that could help make Daily Journal
  even better, don't hesitate to contact us.
</p>

<br>

<p>
  <strong>Email:</strong> example@gmail.com
</p>

<br>

<p>
  We aim to respond to all inquiries as soon as possible.
</p>

<p>
  Thank you for being a part of Daily Journal.
</p>
</div>

<%include partials/footer %>