
<% include partials\header %>

<h1>Home</h1>
<br>

<div class="container-home" style="max-width: 90%; text-align: justify">
  <p>
  Welcome to <strong>Daily Journal</strong>, a platform built for writers,
  thinkers, and storytellers.
</p>

<p>
  Share your ideas, your experiences, and publish content that matters.
  Whether it's a personal journal, a creative story, or a thoughtful article,
  this is your space to write and connect.
</p>

<p>
  Every great story starts with a blank page.
</p>
</div>

<a style="margin-top: 20px;" class="btn btn-primary" href="/compose"><h5>Compose new blog</h5></a>


<% posts.forEach(post => {  %>
  <h1><%=post.title%></h1> 
  <p><%=post.content.substring(0,100) + " ..." %>
  <a href="/posts/<%=post._id%>">Read More</a>
  </p>
  
<% });  %>





<% include partials\footer %>


